@import url('http://fonts.googleapis.com/css?family=Roboto:400,300,100');

.weather-time{
	color: white;
	font-family: 'Roboto';
	font-weight: 100;
	line-height: 1.1;
	letter-spacing: 0.025em;
	margin: 0; 
	padding: 0;
	width:300px;
	background-color: #2B313B;
}

.close{
	color: white;
	font-size: 28px;
	float: right;
	padding-right: 15px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.weather-time h1{
	padding: 30px 0 30px 0;
	text-align: center;
}

.day-weather{
	height: 32px;
	margin-bottom: 15px;
	padding-bottom: 10px;
}

.to-day{
	font-size: 1.17em;
	padding-bottom: 15px;
	background-color: #4E5066;
	text-align: right;
	padding-right: 28px;
	padding-top:10px;
}

div:nth-of-type(2){
	background-color: #4E5066;
	height:64px;
}

div:nth-of-type(2) img{
	height:64px;
	width:64px;
	margin-left:5px;
}

div:nth-of-type(2) span{
	font-size: 1.8em;
	padding-top: 10px;
}


.day-weather img{
	width:32px;
	height: 32px;
	float: left;
	margin-left:70px;
}

.day-weather span{
	font-size: 15px;
	float: left;
	margin-left: 15px; 
}

.modal {
	display: none;
	position: fixed;
	z-index: 3;
	padding-top: 50px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
}

.modal-content {
	position: relative;
	margin: auto;
	width: 300px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	-webkit-animation-name: animatetop;
	-webkit-animation-duration: 0.4s;
	animation-name: animatetop;
	animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
	from {top:-300px; opacity:0}
	to {top:0; opacity:1}
}

@keyframes animatetop {
	from {top:-100px; opacity:0}
	to {top:0; opacity:1}
}