@font-face{
	font-family: simsun;
	src: url(../fonts/SimSun.ttf);
}
@font-face{
	font-family: castellar;
	src: url(../fonts/castellar.ttf);
}
@font-face{
	font-family: kozgopro;
	src: url(../fonts/KozGoPro.otf);
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	
}

body{
	background-color: white;
	font-family: kozgopro;
}

.container{
	width:1024px;
	margin: 0 auto;
	height:2000px;
	background-color: #f5f5f5;
}

header{
	text-align: right;
	height: 75px;
	position: fixed;
	width: 1024px;
	top: 0;
}
.bg{
	background: rgba(255,255,255,1);
	color: black;
	z-index: 2;

}
.nbg{
	background: rgba(255,255,255,0);
	color: white;
	font-style: white;
	background-color: none;
}
.nbg a, .nbg p{
	color: white;
}
.bg a, .bg p{
	color: black;
}

.bg a:hover{
	border-bottom: 1px solid #000;
}


#logo{
	float: left;
	color: white;
}
#logo img{
	width: 60px;
	float: left;
	padding-top: 8px;
	padding-left: 39px; 
}
#info{
	float: right;
	padding-top: 25px;
	padding-left: 10px;
	text-align: left;
	line-height: 15px;
	font-size: 12px;
}

nav{
	position: relative;
	display: inline-block;
	margin-right: 33px;
	margin-top: 14px;
}

nav ul li{
	display: inline-block;
	font-size: 1.5em;
	padding: 1px .4em;
}

nav ul li a{
	text-decoration: none;	
	margin: 0 4px;
	border-bottom: 1px solid transparent;
	-webkit-transition: border-bottom 1s ease;
	-moz-transition: border-bottom 1s ease;
	-o-transition: border-bottom 1s ease;
	-ms-transition: border-bottom 1s ease;
	transition: border-bottom 1s ease; 
}

a:hover{
	border-bottom: 1px solid #fff;
}

.active a {
	border-bottom: 1px solid #fff;
}

.sun{
	width: 35px;
	float: right;
	padding-top: 7px;
	padding-left: 19px;
	cursor: pointer;
}

#slider{
	height: 750px;
	width: 100%;
	background-image: url(../img/home/slider.jpg);
	background-repeat: no-repeat;
}

#arrow{
	position: absolute;
	opacity: 0.3;
	cursor: pointer;
	text-align: center;
	height: 50px;
}
#arrow img{
	width: 55px;

}

footer

footer{
	  position: relative;
	  right: 0;
	  bottom: 0;
	  left: 0;
	  text-align: center;
	  min-width: 1024px;
}

    div#banner{
      width:100%;
      height:200px;
      margin:0 auto;
	  z-index: 2;
    
      background-image: url(../img/home/sea.png);
      background-position: 120% 70px,0px 0px,0px 0px;
      background-repeat: repeat-x; 
      animation: animate-background linear 70s infinite;
    }

    #sea{
      position: relative;
      image-repeat:repeat-x;
      margin:120% 70px,0px 0px,0px 0px;
      animation: sea linear 70s infinite;
    }

    #boat{
      position: relative;
      width:100px;
      margin:-43px 0px 0px 0%;
      animation: boat 5s infinite;
    }

    @keyframes sea{
      from{background-position: -120% 0px,0px 0px,0px 0px;}
      to{background-position: 0 0px,-1000px 0px,-500px 0px;}
    }
    
	/*Animacion que carlos no quiere que pongamos
    @keyframes boat{
        0%   {top:30px;-webkit-transform: rotate(-5deg);}
        50%  {top:20px;-webkit-transform: rotate(3.5deg);}
        100% {top:30px; -webkit-transform: rotate(-5deg);}
    }*/